<!DOCTYPE html>
<html>
  <head>
  <title>IBM Severe Weather</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="weather_icon.png">

    <script src="Scripts/angular.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_niAF0EGN6w01RW3jgONPwXkrmjnQksg&sensor=false&extension=.js"></script>
    <script src="Scripts/controller.js"></script>

  </head>
  <body ng-app="app">
    <div class="ctrl-container" ng-controller="MainCtrl">

      <div id="header">IBM Severe Weather Center</div>
      <div class="content-container row-fluid">
        <div class="sidebar span3">
          <h4>Controls</h4>
          <div class="">
            <button type="button" class="btn btn-success" ng-class="{active:kmlLayers.wind}" ng-click="toggleLayer('wind')">Wind</button>
            <input type="number" class="thresh-input" ng-change="drawLayer()" ng-model="kmlThreshs.wind" /> MPH
          </div>
          <div>
            <input type="range" ng-model="time.position" min="0" max="600" step="15" ng-change="updateTime()" /> {{time.queryString}}
          </div>
        </div>
        <div class="map-container span9">
          <div id="map"></div>
        </div>
        
      </div>  
    </div>      
  </body>
</html>