<!DOCTYPE html>
<html>
  <head>
  <title>IBM Severe Weather</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="weather_icon.png">

    <script src="Scripts/angular.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_niAF0EGN6w01RW3jgONPwXkrmjnQksg&sensor=false&extension=.js"></script>
    <script src="Scripts/controller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

  </head>


<meta charset="utf-8">

  <body ng-app="app">
    <div class="ctrl-container" ng-controller="MainCtrl">
      <div id="header">Loudon County PS: Severe Weather Center
        <img src="images/weather_icon.png" style="float:center;width:65px;height:65px;">
        <img src="images/220px-LCPSSEAL.jpg" style="float:left;width:80px;height:80px;opacity:0.9;">
        <img src="images/ibm_416x416.jpg" style="float:right;width:80px;height:80px;opacity:0.9;">
      </div>
      <div class="content-container row-fluid">
        <div class="sidebar span3">
          <div class="Controls">
            <h4>Controls</h4>
            <div class="adjust">
              <button type="button" class="btn btn-success" ng-class="{active:kmlLayers.wind}" ng-click="toggleLayer('wind')">Wind</button>
              <input type="number" class="thresh-input" ng-change="drawLayer()" ng-model="kmlThreshs.wind" />
              <span class="text"> MPH</p>
            </div>
            <div class="adjust">
              <button type="button" class="btn btn-danger" ng-class="{active:kmlLayers.snow}" ng-click="toggleLayer('snow')">Snow</button>
              
            </div>
            <div>
              <input type="range" ng-model="time.position" min="0" max="19" step="1" ng-change="updateTime()" /> {{time.queryString}}
            </div>
            <div>
              <img class="media-object"  src="images/play.jpg" height="40px" width="40px" ng-click="streamPlay()" ng-hide="isStreaming">
              <img class="media-object"  src="images/pause.jpg" height="40px" width="40px" ng-click="streamPause()  " ng-show="isStreaming">
            </div>
          </div>
          <hr>
          <div class = "Dashboard">
            <h4>Dashboard</h4>
            <style>
            table {
                width:100%;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
            table#t01 tr:nth-child(even) {
                background-color: #eee;
            }
            table#t01 tr:nth-child(odd) {
               background-color:#fff;
            }
            table#t01 th  {
                background-color: black;
                color: white;
            }
            </style>
            <table id="t01" style="color:black">
              <tr>
                <th>Location</th>
                <th>Temperature</th>    
                <th>Snowfall</th>
              </tr>
              <tr>
                <td>39.268, -77.636</td>
                <td>32 °F</td>    
                <td>5.4 in</td>
              </tr>
              <tr>
                <td>39.001, -77.789</td>
                <td>31 °F</td>    
                <td>6.8 in</td>
              </tr>
              <tr>
                <td>39.041, -77.353</td>
                <td>32 °F</td>    
                <td>8.5 in</td>
              </tr>
              <tr>
                <td>39.001, -77.789</td>
                <td>31 °F</td>    
                <td>6.8 in</td>
              </tr>
              <tr>
                <td>39.110, -77.582</td>
                <td>33 °F</td>    
                <td>7.3 in</td>
              </tr>
            </table>

            <br>
            <div>
              <p><b>Risk Index: 53%</b></p>
              <p><b>Recommendation: Close</b></p>
            </div>

          </div>
        </div>
        <div class="map-container span9">
          <div id="map"></div>
          <img ng-show="kmlLayers.snow" src="Images/legend.png" style="position:absolute;top:10px;right:10px;width:120px;height:168px;opacity:0.9;">
        </div>
        
      </div>  
    </div>      
  </body>



</html>