<!DOCTYPE html>
<html>
  <head>
  <title>IBM Severe Weather</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="weather_icon.png">

    <script src="Scripts/angular.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_niAF0EGN6w01RW3jgONPwXkrmjnQksg&sensor=false&extension=.js"></script>
    <script src="Scripts/controller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

  </head>


<meta charset="utf-8">

  <body ng-app="app">
    <div class="ctrl-container" ng-controller="MainCtrl">
      <div id="header">Loudon County PS: Severe Weather Center
        <img src="images/weather_icon.png" style="float:center;width:65px;height:65px;">
        <img src="images/220px-LCPSSEAL.jpg" style="float:left;width:80px;height:80px;opacity:0.9;">
        <img src="images/ibm_416x416.jpg" style="float:right;width:80px;height:80px;opacity:0.9;">
      </div>
      <div class="content-container row-fluid">
        <div class="sidebar span3">
          <div class="Controls">
            <h4>Controls</h4>
            <div class="adjust">
              <button type="button" class="btn btn-success" ng-class="{active:kmlLayers.wind}" ng-click="toggleLayer('wind')">Wind</button>
              <input type="number" class="thresh-input" ng-change="drawLayer()" ng-model="kmlThreshs.wind" />
              <span class="text"> MPH</p>
            </div>
            <div>
              <input type="range" ng-model="time.position" min="0" max="24" step="1" ng-change="updateTime()" /> {{time.queryString}}
            </div>
            <div>
              <img class="media-object"  src="images/play.jpg" height="40px" width="40px" ng-click="streamPlay()" ng-hide="isStreaming">
              <img class="media-object"  src="images/pause.jpg" height="40px" width="40px" ng-click="streamPause()" ng-show="isStreaming">
            </div>
          </div>
          <hr>
          <div class = "Dashboard">
            <h4>Dashboard</h4>
          </div>

        </div>
        <div class="map-container span9">
          <div id="map"></div>
        </div>
        
      </div>  
    </div>      
  </body>



</html>