html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

.ctrl-container {
	padding: 10px;
	height:80%;
}

.content-container {
	height:100%;
}

.sidebar {
	height:100%;
	border: 1px dashed #aaa;
	padding: 20px;
	padding-top: 5px;
	color: white;
	background-color: #3d3737;
}

.map-container {
	height: 100%;
}

#header{
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	background-color: #dbdcff;
	margin-bottom: 10px;
}

#map {
	height: 100%;
	align: right;
}


/****CONTROLLER *****/

.thresh-input {
	width: 50px;
}

.adjust button {
  	float: left;
  	margin-right: 5px;
}

.adjust input {
	margin-right 5px;
}

.text {
	vertical-align: super;
}